<div class="jumbotron">
        <h1>Westeros at war!</h1>
        <p>Different houses of Westeros are fighting for the crown. Database contains details of all the battles which were fought between them. Calculate the King’s rating using 'Elo rating system'(Explained below) based on win or loss and list all the attacker-defender kings and allies based on their rating.</p>
        
<div>